/packages/Newtonsoft.Json.4.5.11/lib/winrt45
/packages/Microsoft.AspNet.Mvc.4.0.30506.0/*.nupkg
/packages/Microsoft.AspNet.Mvc.4.0.30506.0/*.nuspec
/packages/Microsoft.AspNet.Mvc.4.0.30506.0/lib/net40/*.dll
/packages/Microsoft.AspNet.Mvc.4.0.30506.0/lib/net40/*.xml
/packages/Microsoft.AspNet.Mvc.FixedDisplayModes.1.0.0/*.nupkg
/packages/Microsoft.AspNet.Mvc.FixedDisplayModes.1.0.0/lib/net40/*.dll
/packages/Microsoft.AspNet.Razor.2.0.30506.0/*.nupkg
/packages/Microsoft.AspNet.Razor.2.0.30506.0/*.nuspec
/packages/Microsoft.AspNet.Razor.2.0.30506.0/lib/net40/*.dll
/packages/Microsoft.AspNet.Razor.2.0.30506.0/lib/net40/*.xml
/packages/Microsoft.AspNet.WebApi.4.0.30506.0/*.nupkg
/packages/Microsoft.AspNet.WebApi.4.0.30506.0/*.nuspec
/packages/Microsoft.AspNet.WebApi.Client.4.0.30506.0/*.nupkg
/packages/Microsoft.AspNet.WebApi.Client.4.0.30506.0/*.nuspec
/packages/Microsoft.AspNet.WebApi.Client.4.0.30506.0/lib/net40/*.dll
/packages/Microsoft.AspNet.WebApi.Client.4.0.30506.0/lib/net40/*.xml
/packages/Microsoft.AspNet.WebApi.Core.4.0.30506.0/*.nupkg
/packages/Microsoft.AspNet.WebApi.Core.4.0.30506.0/*.nuspec
/packages/Microsoft.AspNet.WebApi.Core.4.0.30506.0/content/*.transform
/packages/Microsoft.AspNet.WebApi.Core.4.0.30506.0/lib/net40/*.dll
/packages/Microsoft.AspNet.WebApi.Core.4.0.30506.0/lib/net40/*.xml
/packages/Microsoft.AspNet.WebApi.WebHost.4.0.30506.0/*.nupkg
/packages/Microsoft.AspNet.WebApi.WebHost.4.0.30506.0/*.nuspec
/packages/Microsoft.AspNet.WebApi.WebHost.4.0.30506.0/lib/net40/*.dll
/packages/Microsoft.AspNet.WebApi.WebHost.4.0.30506.0/lib/net40/*.xml
/packages/Microsoft.AspNet.WebPages.2.0.30506.0/*.nupkg
/packages/Microsoft.AspNet.WebPages.2.0.30506.0/*.nuspec
/packages/Microsoft.AspNet.WebPages.2.0.30506.0/lib/net40/*.dll
/packages/Microsoft.AspNet.WebPages.2.0.30506.0/lib/net40/*.xml
/packages/Microsoft.Net.Http.2.0.20710.0/*.nupkg
/packages/Microsoft.Net.Http.2.0.20710.0/*.nuspec
/packages/Microsoft.Net.Http.2.0.20710.0/lib/net40/*.dll
/packages/Microsoft.Net.Http.2.0.20710.0/lib/net40/*.xml
/packages/Microsoft.Net.Http.2.0.20710.0/lib/net45/*._
/packages/Microsoft.Web.Infrastructure.1.0.0.0/*.nupkg
/packages/Microsoft.Web.Infrastructure.1.0.0.0/*.nuspec
/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/*.dll
/packages/Newtonsoft.Json.4.5.11/*.nupkg
/packages/Newtonsoft.Json.4.5.11/lib/net20/*.dll
/packages/Newtonsoft.Json.4.5.11/lib/net20/*.xml
/packages/Newtonsoft.Json.4.5.11/lib/net35/*.dll
/packages/Newtonsoft.Json.4.5.11/lib/net35/*.xml
/packages/Newtonsoft.Json.4.5.11/lib/net40/*.dll
/packages/Newtonsoft.Json.4.5.11/lib/net40/*.xml
/packages/Newtonsoft.Json.4.5.11/lib/portable-net40%2Bsl4%2Bwp7%2Bwin8/*.dll
/packages/Newtonsoft.Json.4.5.11/lib/portable-net40%2Bsl4%2Bwp7%2Bwin8/*.xml
/packages/Newtonsoft.Json.4.5.11/lib/sl3-wp/*.dll
/packages/Newtonsoft.Json.4.5.11/lib/sl3-wp/*.xml
/packages/Newtonsoft.Json.4.5.11/lib/sl4-windowsphone71/*.dll
/packages/Newtonsoft.Json.4.5.11/lib/sl4-windowsphone71/*.xml
/packages/Newtonsoft.Json.4.5.11/lib/sl4/*.dll
/packages/Newtonsoft.Json.4.5.11/lib/sl4/*.xml
/Library/bin
/Library/obj/Debug
